#home{
    text-align: center;
}
#home h1{
    font-size: 36px;
}
#home p{
    font-size: 20px;
}
#lastSell{
    width: 70%;
    margin: auto;
}
#lucro{
    display: flex;
    justify-content: flex-end;
    width: 85%;
    margin-top: 5px;
}
#lucro button{
    margin-right: 10px;
}

#linkTable{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 25px;
}
#border{
    padding: 25px;
    border-bottom: 1px solid lightgray;
    width: 70%;
    margin: auto;
}
